html {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-size: 12px;
  font-family: 'Jost', sans-serif;
  color: #fff;
  background-color: #222222;
  /* font-weight: 200; */
}

p{
  color: #fff;
}

.large1{
  font-size: 1.75rem;
  color: #fff;
}

.large2{
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
  color: #fff;
}

.category0{
  display: flex;
  flex-direction: column;
  color: #fff;
  /* width: 25%; */
  padding: 1.25rem;
  margin-left: 1.25rem;
  margin-bottom: 0.25rem;
  text-align: left;
  /* display: flex; */
}

.category1{
  padding-left: 2.5rem;
  color: #fff;
  line-height: 1.2;
  text-align: left;
  font-size: 1.125rem;
  font-weight: 600;
}

.category4{
  margin-bottom: 2rem;
}

.separator {
  display: inline-block;
  padding:0%;
  user-select: none;
  cursor: default ; 
  color: inherit; 
  text-decoration: none; 
  font-weight: 400;
  background-clip: padding-box;
}

.link {
  display: inline-block;
  padding:0%;
  user-select: none;
  cursor: pointer ; 
  color: inherit; 
  text-decoration: none; 
  background-clip: padding-box;
}

.link.selected {
  user-select: none;
  cursor: pointer ; 
  color: #7953B3; 
  text-decoration: none; 
}

.linkback {
  display: inline-block;
  padding:0%;
  user-select: none;
  cursor: pointer ; 
  color: inherit; 
  text-decoration: none; 
  background-clip: padding-box;
}

#nav-container {
  color: #fff;
}

.contentsec {
  color: #fff;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.25rem;
  margin-right: 1.875rem;
  margin-left: 1rem;
  margin-top: 0rem;
  /* width:75%; */
  flex-grow: 1;
  /* background-color:rgb(245, 241, 238); */
  overflow: auto;
  font-size: 1.125rem;
}

.category3 {
  display: flex;
  flex-direction: row;
  color: #fff;
  padding: 1.25rem;
  margin-left: 1.25rem;
  margin-bottom: 0.25rem;
  text-align: left;
  height: auto;
}

.p1image{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 0px;
  padding-top: 0px;
  margin-top: 0px;
  width:28%;
  height: auto;
  font-size: 1.125rem;
  gap: 1.25rem;
}

img.quetta1{
  width: 46%;
  height: auto;
}

img.quetta2{
  width: 95%;
  height: auto; 
  object-fit: contain;
}

img.quetta3{
  width: 29.7%;
  height: auto; 
  object-fit: contain;
}

.note{
  font-size: 0.875rem;
}

.intro{
  padding-left: 0px;
  padding-right: 40px;
  margin-top: 0px;
  margin-left: 2rem;
  width:40vw;
  overflow: auto;
  font-size: 1rem;

}

.profilecol{
  margin-top: 2.5rem;
  color: #fff;
  width: 26vw;
  padding-left: 0rem;
  text-align: left;
  font-size: 1rem;
  /* overflow: hidden; */
}

.sidenote{
  margin-top: 2.5rem;
  color: #fff;
  width: 18%;
  padding-left: 0rem;
  text-align: left;
  font-size: 1rem;
  /* overflow: hidden; */
}

img.profile{
  width: 20rem;
  height: auto;
}

img.present1{
  height: auto;
  width: 100%;
  margin-bottom: 0.625rem;
}

.presenttext{
  margin-top: 0px;
  color: #fff;
  width: 45%;
  padding-left: 1.25rem;
  text-align: left;
  font-size: 1.125rem;
}

.row {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 1vw; 
  margin-top: 4rem;
}

.box {
  flex: 0 0 30vw; 
  width: 29vw; 
  height: auto;   
  display: block;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  margin-bottom: 2rem;
}

.hover-text-container {
  position: absolute;
  margin-top: 1rem;  
  padding: 1rem;
  font-weight: 600;
  color: #fff;
  visibility: hidden; 
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out; 
}

.hover-text-container.show {
  visibility: visible; 
  opacity: 1;
}

img.cover {
  width: 100%;   
  height: auto;  
  object-fit: cover;  
  transition: filter 0.2s ease;
  cursor: pointer;
}

img.cover:hover {
  filter: brightness(50%);
}

.img-description {
  font-size: 1.125rem; 
  margin-top: 0.25px;
  max-width: 90%;
}

.hovertext {
  visibility: hidden;
  opacity: 0;
  color: #666666;
  font-size: 1.125rem;
  margin-top: 1.25rem;
  position: relative;
  z-index: 1;
  font-size: 1rem;
}

img.cover:hover .hovertext {
  display: block;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover{
  color: #fff;
}